/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
My style
*/

html, body {
    text-align: center;
    font-family: Roboto;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    padding: 0;
    background-size: cover;
}

header {
    background: #281919;
    height: 70px;
    width: auto;
    opacity: 0.7;
    position: relative;
    z-index: 1;
}

.menu-tabs {
    position: absolute;
    right: 10px;
    border: none;
    width: 20%;

}

.tabs {
    border: none;
}

a {
    color: grey;
    font-size: 17px;
}

.tabs li.active a {
    background-color: #1C1309;
    color: white;
    border-right: none;
    border-left: none;
    border-top: none;
}

.main-menu-tabs-content .active {
    background-color: #1C1309;
    color: white;
    height: 120px;
    width: 250px;
    border: none;
}

.page-title {
    position: absolute;
    left: 0;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.page-title span {
    color: #FFD562;
}
.main-menu {
    background: #353338;
    position: relative;
    z-index: 1;
}
.main-poster {
    background-image: url("../_images/avangers.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
}
.poster-nav-left-arrow {
    left: 0;
    position: relative;
    color: red;
    font-size: 50px;
}
.poster-nav-right-arrow {
    right: 0;
    position: relative;
    color: red;
    font-size: 50px;
}




























