/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
My style
*/

html, body {
    text-align: center;
    font-family: Roboto;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    padding: 0;
    background-size: cover;
    font-family: 'PT Sans';
}

header {
    background: rgba(50, 51, 56, 0.8);
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.main-navigation a {
    padding-top: 15px;
    font-size: 18px;
}

.menu-tabs {
    border: none;

}

.navbar-default {
    background: transparent;
    box-shadow: none;
}

.tabs-menu-container {
    width: 100%;
    margin-right: 0px;
}

.dropdown-menu {
    box-shadow: 0px 14px 21px -7px rgba(0, 0, 0, .475);
    border: none;
}

.dropdown-menu, .dropdown .open {
    background: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background: rgba(76, 65, 69, 1.0);
}

.dropdown-menu > li > a {
    color: white;
}

.page-title {
    float: left;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    line-height: 80px;
    font-family: 'Trade Winds', cursive;
    font-weight: 200;
    height: 80PX;
}

.page-title span {
    color: #FDD564;
    font-weight: 400;
    font-family: 'Trade Winds', cursive;
}

.main-poster {
    background-image: url("../_images/avangers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
    box-sizing: border-box;
}

.poster-nav-arrow {
    color: rgba(234, 231, 231, 0.4);
    font-size: 50px;
    margin-top: -1.5em;
}

.poster-nav-left-arrow {
    float: left;
    margin-left: 20px;
    margin-top: -3em;
}

.poster-nav-right-arrow {
    float: right;
    margin-right: 20px;
    margin-top: -3em;
}

.slider {
    overflow: hidden;
}

.image-slider {
    position: relative;
    /*overflow: hidden;*/
    padding: 0;
    left: 0;
    /*animation-name: slideInLeft;*/
    /*animation-duration: 5s;*/
}

.image-slider li {
    position: relative;
    float: left;
    list-style: none;
    left: 0;
    height: 450px;
    background-size: cover;
    transition: all 1s linear;
    /*transition-property: left;*/
    /*transition-duration: 10s;*/
    /*transition-timing: ease;*/
    /*transition-delay: 0;*/
    /*animation-name: slideInLeft;*/
    /*animation-duration: 5s;*/
    /*transition-timing-function: linear, ease-in;*/
    /*/!*overflow: hidden;*!/*/
}

.first-slider {
    background: url("../_images/carlitosway.jpg") no-repeat;
}

.second-slider {
    background: url("../_images/godfather.jpg") no-repeat;
}

.third-slider {
    background: url("../_images/kamel.jpg") no-repeat;
}

.fourth-slider {
    background: url("../_images/scareface.jpg") no-repeat;
}

.fifth-slider {
    background: url("../_images/serpico.jpg") no-repeat;
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


























