/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
My style
*/
@font-face {
    font-family: galleryItemDetails;
    src: url("../_fonts/PlayfairDisplaySC-Regular.ttf")
}

html, body {
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    position: fixed;
    padding: 0;
    background-size: cover;
    font-family: 'PT Sans';
}

header {
    background: rgba(50, 51, 56, 0.8);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.main-navigation a {
    padding-top: 15px;
    font-size: 18px;
}

.menu-tabs {
    border: none;

}

.navbar-default {
    background: transparent;
    box-shadow: none;
}

.tabs-menu-container {
    width: 100%;
    margin-right: 0px;
}

.dropdown-menu {
    box-shadow: 0px 14px 21px -7px rgba(0, 0, 0, .475);
    border: none;
}

.dropdown-menu, .dropdown .open {
    background: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background-color: rgba(76, 65, 69, 1.0);
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: white;
    background: rgba(76, 65, 69, 1.0);
}

.dropdown-menu > li > a {
    color: white;
}

.page-title {
    float: left;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    line-height: 80px;
    font-family: 'Trade Winds', cursive;
    font-weight: 200;
    height: 80PX;
}

.page-title span {
    color: #FDD564;
    font-weight: 400;
    font-family: 'Trade Winds', cursive;
}

.main-poster {
    background-image: url("../_images/avangers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: absolute;
    z-index: 0;
    box-sizing: border-box;
}

.poster-nav-arrow {
    color: rgba(234, 231, 231, 0.4);
    font-size: 50px;
    display: inline;
}

.poster-nav-left-arrow {
    float: left;
    margin-left: 20px;
    margin-top: -250px;
}

.poster-nav-right-arrow {
    float: right;
    margin-right: 20px;
    margin-top: -250px;
}

.slider {
    overflow: hidden;
    height: 500px;
}

.image-slider {
    position: relative;
    padding: 0;
    left: 0;
    transition: 0.7s ease-out;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.small-slider {
    position: relative;
    padding: 0;
    left: 0;
    transition: 0.7s ease-out;
    width: 500px;
    height: 200px;
    overflow: hidden;
}

.image-slider li {
    position: relative;
    float: left;
    list-style: none;
    left: 0;
    height: 100%;
    background-size: cover;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transition:  opacity 0.5s ease-out;*/
    /*-o-transition: opacity 0.5s ease-out;*/
    /*-webkit-transition: opacity 0.5s ease-out;*/
    /*-ms-transition: opacity 0.5s ease-out;*/
    /*/!* Slow *!/*/
    /*/!*-webkit-animation: slideShow 50s linear infinite;*!/*/
    /*-moz-animation:    slideShow 40s linear infinite;*/
}

@-webkit-keyframes slideShow {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-600%);
    }
}

@-moz-keyframes slideShow {
    0% {
        -moz-transform: translateX(0);
    }
    100% {
        -moz-transform: translateX(-600%);
    }
}

.recommended-movies {
    width: 70%;
    height: 537px;
    background: #FDD564;
    position: relative;
    z-index: -2;

}

.recommended-movies-title {
    color: black;
    font-size: 30px;
    margin-top: 8px;
    line-height: 80px;
    text-align: center;
    font-family: 'Bitter', serif;
    font-weight: 100;
    height: 80px;
    width: 100%;
    text-transform: uppercase;
    border-bottom: solid 1px #B4B0B1;
}

.recommended-movies-items {
    width: 100%;
    height: 50%;
    margin-top: 20px;
}

.recommended-poster {
    height: 100%;
    position: relative;
    float: left;
    z-index: 3;
    transition: 0.3s all ease;
}

.movie-rating {
    border-radius: 50%;
    background: white;
    position: relative;
    z-index: 5;
    height: 130px;
    width: 130px;
    opacity: 0.3;
    top: 85px;
    margin: 0 auto;
    line-height: 150px;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Merriweather', cursive;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
}

.zoom-movie {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}

.movie-details {
    width: 100%;
    height: 145px;
    position: relative;
    top: 118px;
    z-index: 0;
    background: #4C4145;
    display: none;
    -webkit-box-shadow: 0px 10px 63px 2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 10px 63px 2px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 10px 63px 2px rgba(0, 0, 0, 0.61);
}

.movie-duration, .movie-category, .movie-comments {
    color: #B4B0B1;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: left;
    padding: 7px;
    font-size: 13px;
    font-family: 'Merriweather', cursive;
}

.movie-category {
    border-bottom: 1px solid #B4B0B1;
}

.clear {
    clear: both;
}

.gallery-container {
    position: relative;
}

.gallery-item {
    height: 345px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    box-sizing: border-box;
}

.gallery-item figure {
    width: 100%;
    height: 345px;
}

.gallery-item figure img {
    /*border: 3px red solid;*/
    width: 100%;
    height: 87%;
    object-fit: cover;
    margin: 5px;
}

.gallery-item-details {
    /*border: 3px blue solid;*/
    position: absolute;
    width: 87%;
    height: 83%;
    margin-left: 15px;
    top: 11px;
    box-sizing: border-box;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease;
}

.gallery-item-details .gallery-details-text {
    color: white;
    font-size: 12px;
    margin-top: 50px;
    height: 200px;
    line-height: 200px;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    padding-bottom: 13px;
    padding-top: 13px;
    text-transform: uppercase;
    font-family: galleryItemDetails;
}

.animate {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.gallery-details-footer {
    display: block;
    position: absolute;
    bottom: 35px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    left: 0;
    right: 0;
}

.modal-content {
    width: 400px;
    height: 400px;
}

.modal-content img {
    width: 100%;
}

.close {
    margin-top: 15px;
    margin-right: 15px;
    font-size: 25px;
}